/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply dark:bg-slate-800 dark:text-slate-50
}


